 .carosul-text{
    font-family:Poppins;
    font-size: 60px;
    color:white;
    font-weight: 700;
 }
 .carosul-para{
    font-family:Poppins;
    font-size: 30px;
    color:white;
    font-weight:700;
 }
  .link-button{
   text-decoration: none;
  }
 